.inner {
  background: url("./components/static/images/main_bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}

.lead {
  text-align: center;
}

.lead a {
  font-size: 2rem !important;
  font-weight: bold;
}

.cover-heading {
  text-align: center;
  font-size: 5rem;
  margin-bottom: 20px;
}

.intro-text {
  width: 100%;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
